@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --green: #66c04d;
  --green-dark: #4fa838;
  --darkgreen: #4fa838;
  --green-light: #eef9ea;
  --green-mid: #69c04a;
  --dark: #101828;
  --dark-navy: #0d1b2a;
  --text: #3f4654;
  --muted: #5c6575;
  --border: #e8e8e8;
  --white: #ffffff;
  --off-white: #f8fafc;
  --h1: 48px;
  --h2: 48px;
  --h3: 38px;
  --body: 16px;
  --sm: 14px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Satoshi', sans-serif;
  font-size: var(--body);
  color: var(--dark);
  background: var(--white);
  overflow-x: hidden;
  padding-top: 123px;
}

.section-anim {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.section-anim.visible {
  opacity: 1;
  transform: translateY(0);
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.35s ease;
}

.header-wrapper.header-hide {
  transform: translateY(-123px);
}

.header-wrapper.header-compact {
  transform: translateY(-41px);
}

.header-wrapper.header-show {
  transform: translateY(0);
}

.top-bar {
  height: 41px;
  background: var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  color: #fff;
  z-index: 1000;
  font-size: var(--sm);
  transition: transform 0.35s ease, opacity 0.35s ease;
}

.top-bar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-phone,
.top-email {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 500;
}

.top-socials {
  display: flex;
  gap: 28px;
  align-items: center;
}

.top-socials i {
  cursor: pointer;
  transition: opacity 0.2s;
  font-size: 13px;
}

.top-socials i:hover {
  opacity: 0.7;
}

.top-bar-right {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: var(--sm);
  font-weight: 500;
}

@media (max-width: 1024px) {
  .header-wrapper.header-hide {
    transform: translateY(-131px);
  }

  .top-bar {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .header-wrapper.header-hide,
  .header-wrapper.header-compact {
    transform: translateY(0);
  }
}