.bannerHero {
  width: 85%;
  max-width: 1500px;
  margin: 40px auto 80px;
}

.bannerImg {
  width: 100%;
  height: auto;
  object-fit: unset;
  display: block;
  border-radius: 24px;
}

@media (max-width: 1024px) {
  .bannerHero {
    width: 92%;
    margin: 32px auto 60px;
  }
}

@media (max-width: 400px) {
  .bannerHero {
    margin: 28px auto 50px;
  }
  .bannerImg {
    border-radius: 16px;
  }
}
